---
import Layout from "../layouts/Layout.astro";
import "@/styles/global.css";
import { Badge } from "@/components/ui/badge";

const pageTabTitle = "Project Archive | Xavier Khew";

const siteLink = "";

import {
  Table,
  TableBody,
  // TableCaption,
  TableCell,
  TableHead,
  TableHeader,
  TableRow,
} from "@/components/ui/table";

const archiveList = [
  {
    logicYear: "2023",
    printYear: "2023",
    project: "Hartalega NGX",
    description: "Digital clone of the physical factory in Sepang, Malaysia",
    madeAt: "Accenture Song",
    builtWith: [
      "HTML",
      "Animate.css",
      "SCSS",
      "Bootstrap 5",
      "GSAP",
      "Javascript",
      "JQuery",
      "Three JS",
      "Vite",
    ],
  },
  {
    logicYear: "2022",
    printYear: "2022",
    project: "RHB Cards",
    description:
      "Website Revamp for cards product segment\n**Gold Award for Excellence in Relationship Marketing in Marketing Interactive, Marketing Excellence Awards 2023**",
    madeAt: "Accenture Song",
    builtWith: ["HTML", "CSS", "SCSS", "Bootstrap 4", "JavaScript", "Slick"],
  },
  {
    logicYear: "2022",
    printYear: "2022",
    project: "TM Blog",
    description: "Corporate website revamp",
    madeAt: "Accenture Song",
    builtWith: [
      "HTML",
      "CSS",
      "SCSS",
      "Bootstrap 4",
      "JavaScript",
      "JQuery",
      "Moment.js",
      "Slick",
    ],
  },
  {
    logicYear: "2022",
    printYear: "2022",
    project: "TM Brand Centre",
    description: "Corporate brand centre website for TM, built from scratch	",
    madeAt: "Accenture Song",
    builtWith: ["HTML", "CSS", "SCSS", "Bootstrap 4", "JQuery", "Slick"],
  },
  {
    logicYear: "2022",
    printYear: "2022",
    project: "Unifi Business",
    description: "Corporate website revamp",
    madeAt: "Accenture Song",
    builtWith: ["HTML", "CSS", "Bootstrap 4", "Javascript", "JQuery", "Slick"],
  },
  {
    logicYear: "2021-2023",
    printYear: "2021-2023",
    project: "Eucerin",
    description: "Developing bi-weekly EDMs and maintaining existing website",
    madeAt: "Accenture Song",
    builtWith: ["HTML", "CSS", "Bootstrap 3", "Javascript"],
  },
  {
    logicYear: "2021",
    printYear: "2021",
    project: "Desaru Coast",
    description: "Resort website revamp	",
    madeAt: "Accenture Song",
    builtWith: ["HTML", "CSS", "Bootstrap 4", "Javascript", "Slick"],
  },
  {
    logicYear: "2021",
    printYear: "2021",
    project: "Eve Holdings",
    description: "Property developer website revamp",
    madeAt: "Accenture Song",
    builtWith: [
      "HTML",
      "CSS",
      "Bootstrap 4",
      "Javascript",
      "JQuery",
      "GSAP",
      "Slick",
    ],
  },
];
---

<Layout title={pageTabTitle}>
  <a
    href={`/${siteLink}`}
    class='flex items-center text-base lg:text-lg icon-left w-fit'
  >
    <svg
      xmlns='http://www.w3.org/2000/svg'
      width='22'
      height='22'
      fill='currentColor'
      class='bi bi-arrow-left'
      viewBox='0 0 16 16'
    >
      <path
        fill-rule='evenodd'
        d='M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8'
      ></path>
    </svg>
    <span class='ms-xxxxs'>Xavier Khew</span>
  </a>

  <div class='text-lg font-medium lg:text-xl pb-xs'>
    Other Things I've Built
  </div>

  <Table>
    <TableHeader>
      <TableRow>
        <TableHead>Year</TableHead>
        <TableHead>Project</TableHead>
        <TableHead className='hidden md:table-cell'>Description</TableHead>
        <TableHead className='hidden md:table-cell'>Made at</TableHead>
        <TableHead>Built with</TableHead>
      </TableRow>
    </TableHeader>
    <TableBody>
      {
        archiveList
          .map((invoice) => ({
            ...invoice,
            year: parseInt(invoice.logicYear),
          })) // Extract year from invoice
          .sort((a, b) => b.year - a.year) // Sort archiveList by year in descending order
          .map((archive) => (
            <TableRow key={archive.year}>
              <TableCell>{archive.printYear}</TableCell>
              <TableCell>{archive.project}</TableCell>
              <TableCell className='hidden md:table-cell'>
                {/* Render the description with formatting */}
                {archive.description.split("\n").map((line, index) => (
                  <p>
                    {line.includes("**") ? (
                      <strong>
                        {line.replace(/\*\*(.*?)\*\*/g, (_, p1) => p1)}
                      </strong>
                    ) : line.includes("[") && line.includes("]") ? (
                      line.split("[").map((part, index) => {
                        if (index === 0) return part;
                        const [text, url] = part.split("](");
                        return (
                          <>
                            <a href={url.replace(")", "")}>{text}</a>
                            {index < line.split("[").length - 1 ? "[" : ""}
                          </>
                        );
                      })
                    ) : (
                      line
                    )}
                  </p>
                ))}
              </TableCell>
              <TableCell className='hidden md:table-cell'>
                {archive.madeAt}
              </TableCell>
              <TableCell>
                {archive.builtWith ? (
                  archive.builtWith.map((skill, index) => (
                    <Badge key={index}>{skill}</Badge>
                  ))
                ) : (
                  <span>No Data</span>
                )}
              </TableCell>
            </TableRow>
          ))
      }
    </TableBody>
  </Table>
</Layout>
